@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme{
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

nav a.router-link-exact-active {
    color: #42A5F5;
}

.custom-router-link {
    text-decoration: none;
    color: inherit;
} 